@import "tailwindcss";
@layer utilities {
  .shadow-3d {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  .shadow-blue {
    box-shadow: 0 0 20px rgba(58, 47, 206, 0.442);
  }
  .border-box {
    box-sizing: border-box;
  }
  .text-shadow {
    text-shadow: 0 0 20px rgba(58, 47, 206, 0.442);
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
:root {
  font-family: poppins, sans-serif;
}
.Toastify__toast {
  margin: 0 !important;
  padding: 0 !important;
  width: 300px !important;
  height: 10px !important;
  background: transparent !important;
  min-height: unset !important;
  height: auto !important;
}
